*.iml
gymcats-api/.env
.gradle

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/deviceManager.xml
/.idea/deploymentTargetSelector.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
__pycache__/
*.pyc
gymcats-api/venv/
gymcats-api/venv-win/
